*{
  padding: 0;
  margin:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
  background: linear-gradient(to right, red, blue);
  color: white;
}

.main {
  text-align: center;
  margin-top: 15%;
}

.heading h1{
  width: 100%;
  background-color: black;
  font-size: 100px;
}

.click a {
  background: none;
  text-decoration: none;
  color: white;
  transition: 1s;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: 20px underline linear-gradient(to right, red, blue);
  font-size: 20px;
}
