* {
    padding: 0;
    margin: 0;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

body {
  background: linear-gradient(to left, yellow , red);
}

 .main {
   text-align: center;
   color: black;
 }

.main h1{
  font-size: 50px;
  padding: 10px;
  text-decoration: 5px solid underline;
}

.know a {
  font-size: 25px;
  font-weight:bold;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover {
  background-color: white;
}

.know h2{
  font-size: 300px;
  color: transparent;
}
